{% extends 'base.html' %}

{% block content %}

    {{ block.super }}

    {% if messages %}
        <div class="message col-md-12 text-center">
            {% for message in messages %}
                <p{% if message.tag %} class="{{ message.tags }} "{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}



    <div class="col-md-12">
        <h3 class="alert alert-light">All tasks</h3>
        <a href="{% url 'task_create' %}">
            <button class="btn btn-success">add task</button>
        </a>

        {% if request.path != '/tasks/my_done_tasks/' %}
            <a href="{% url 'task_marked_done' %}">
                <button class="btn btn-success">Hide Completed tasks</button>
            </a>
        {% else %}
            <a href="{% url 'task_all' %}">
                <button class="btn btn-success">Show Completed tasks</button>
            </a>
        {% endif %}

        <br>
        <br>
        <table class='table'>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>Status</th>
                <th>Date</th>
                <th colspan="4"></th>
            </tr>
            {% for object in object_list %}
                <tr>
                    <td><a href="{{ object.get_absolute_url }}">{{ object|truncatewords:3 }}</a></td>
                    <td>{{ object.description|truncatewords:3 }}</td>
                    <td>{% if object.author.first_name %}{{ object.author.first_name }}{% else %} {{ object.author.email }}{% endif %}</td>
                    <td class="text-danger">{{ object.status }}</td>
                    <td>{{ object.created }}</td>
                    <td><a href="{% url 'task_edit' id=object.id %}">
                        <button class="btn btn-warning">edit</button>
                    </a></td>
                    <td>{% if object.status != 'done' %}<a href="{% url 'task_done' id=object.id %}">
                        <button class="btn btn-info">mark done</button>
                    </a>{% else %}
                        <button disabled class="btn btn-info">mark done</button>{% endif %}</td>
                    <td><a href="{% url 'task_delete' pk=object.id %}">
                        <button class="btn btn-danger">delete</button>
                    </a></td>

                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock content %}