{% extends 'base.html' %}

{% block content %}

    {{ block.super }}

    {% if messages %}
        <div class="message col-md-12 text-center">
            {% for message in messages %}
                <p{% if message.tag %} class="{{ message.tags }} "{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {% if tasks %}
        {% for task in tasks %}
            <div class="col-lg-8 ">
            <br>
            <p class="col-lg-3 p-3 mb-2 bg-dark text-white">Task description - {{ task.name }}</p>
            <p class="col-lg-3 p-3 mb-2 bg-success text-white"> {{ task.description }}</p>
            <p class="col-lg-3 p-3 mb-2 bg-success text-white">{{ task.status }}</p>
            <p class="col-lg-3 p-3 mb-2 bg-success text-white">{{ task.updated }}</p>
            <p class="col-lg-3 p-3 mb-2 bg-success text-white">{{ task.user.email }}</p>
            <p class="col-lg-3 p-3 mb-2 bg-success text-white">{{ task.user.first_name }}</p>
            <br>

        </div>
        {% endfor %}
    {% else %}
        <h1>Nothing is found</h1>
    {% endif %}

{% endblock %}