.animate-body-string{
  display: inline-block;
  width:span($columnCountDefault);
  height:rhythm($CenterColumnSize * 2);
  background-color: #cce5ff;
  position: absolute;
  top:0;
  bottom:0;
  margin: auto;
  overflow: hidden;
  padding: 0;
  li{
    float: left;
    font-size: rhythm(13);
    vertical-align: center;
    text-align: center;
    max-width: 100%;
  }

}
