.bottom-small-close {
  width: rhythm(2);
  height: rhythm(2);
  @include borderRadius(5px);
  border: 1px solid map_get($colors, secondary);
  margin: 5px;
  float: right;
  i {
    padding: 0 !important;
    &:before {
      width: 100%;
      height: 100%;
      display: inline-block;
      text-align: center;
      color: darken(map_get($colors, secondary), 10%);
    }
  }
  &:hover {
    border-color: map_get($colors, info);
    i {
      cursor: pointer;
      &:before {
        color: map_get($colors, dark);
      }
    }
  }
}

html [type=button] {
  -webkit-appearance: button;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.bottom-submit {
  margin: 15px;
  overflow: hidden;
  color: map_get($colors, success);
  background-color: transparent;
  background-image: none;
  border-color: map_get($colors, success) !important;
  &:hover {
    color: #fff;
    background-color: map_get($colors, success);
    border-color: map_get($colors, success);
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  @include borderRadius(.25rem);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.button-medium {
  width: span(4);
  height: rhythm(2);
}


.bottom-click{
  @extend .btn;
}