#CenterContainer {
  $header: rhythm($headerHeight);
  $footer: rhythm($footerHeight);
  background-color: map_get($colors, body);
  min-height: inherit;
  display: block;
  overflow-y: hidden;
  overflow-x: auto;

}

.centr_size {
  @include span($CenterColumnSize at $rightColumnSize of $columnCountDefault);
}

.centr_size_plus_one_column {
  @include span($CenterColumnSize_1 at $columnCountDefault);
}

.centr_size_full {
  @include span($columnCountDefault of $columnCountDefault);
}
