@import 'menu';
#header {
  height: rhythm($headerHeight);
  @include span($columnCountDefault of $columnCountDefault);
  margin: 0;
  background-color: map_get($colors,header);
  border-bottom: 1px solid map_get($colors, secondary);
  padding: 0;
}

.logoContainer {
  @include span($widthLogoContainer of $columnCountDefault);
  height: rhythm($headerHeight);
  vertical-align: middle;
  text-align: center;
  position: relative;

  img {
    max-height: rhythm($headerHeight);
    max-width: 100%;
    margin: auto;
    margin-top:5px;
    @include span($columnCountDefault of $columnCountDefault);
  }

}

.logo_rotate {
  $time_delay: 5s;
  animation-name: logo_rotate;
  animation-duration: $time_delay;
  -webkit-animation-duration: $time_delay;
  -moz-animation-duration: $time_delay;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}