$height_group: 2.5;
.input-group {
  $td1: 3;
  $td2: 7;
  $td3: 12 - ($td1 + $td2);
  height: rhythm($height_group);
  min-width: span($columnCountDefault/2);
  //background-color: red;
  margin: rhythm(1) rhythm(1) rhythm(0.5) rhythm(1);
  overflow: hidden;
  border: 1px solid map_get($colors, info);
  @include borderRadius(5px);
  padding: 0;
  table {
    table-layout: fixed;
    width: 100%;
    height: rhythm($height_group);
    td {
      vertical-align: center;
    }
    tr {
      td:nth-child(1) {
        width: span($td1);
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      td:nth-child(2) {
        width: span($td2);
        text-align: left;
        input[type="text"], input[type="password"], input[type="email"] {
          width: 100%;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 2px solid map_get($colors, info);
          line-height: rhythm($height_group);
          outline: none;
          @include boxShadow(none);
        }
      }
      td:nth-child(3) {
        width: span($td3);
        text-align: center;
      }
    }
  }
}

.input-fild-task {
  &[type=text] {
    width: 100%;
    margin-bottom:rhythm(0.5);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid map_get($colors, info);
    line-height: rhythm(2);
    outline: none;
    text-align: center;
    @include boxShadow(none);

  }
  &[type=textarea] {
    margin-top: rhythm(1);
  }

}