#LeftContainer {
  $header: rhythm($headerHeight);
  $footer: rhythm($footerHeight);
  @include span($LeftColumnSize at ($CenterColumnSize - $rightColumnSize) of $columnCountDefault);
  border-right: 1px solid map_get($colors, info);
  min-height: inherit;
  overflow-y: hidden;
  overflow-x: auto;
}
