.access-denied-info {
  margin-top: rhythm(1);
  @include span($columnCountDefault);
  min-height: rhythm(3);
  @include border-radius(5px);
  line-height: rhythm(3);
  max-height: 100%;
  background-color: map_get($colors, warning);
  p {
    text-align: center;
    font-weight: bold;
    color: map_get($colors, dark);
    @include text-shadow(0px 0px 2px map_get($colors, body));
  }
}
.access-logo{
  p{
    text-align: center;
    font-size: rhythm(26);
  }
}