.linkContainer {
  @include span($w_menu at 2 of $columnCountDefault);
  padding: 0;
  display: table-row;
  list-style: none;
  overflow: hidden;
  max-height: rhythm($headerHeight);
  //background-color: map_get($colors, warning);
  //height: rhythm($headerHeight);

  li {
    position: relative;
    @include span(1 of $w_menu);
    line-height: rhythm($headerHeight);
    margin-left: 1px;
    vertical-align: middle;
    background-color: map_get($colors, menu-items);
    list-style-type: none;
    padding: 0;
    text-align: center;
    @include borderRadius(5px 5px 0 0);
    &:hover:not(.active) {
      cursor: pointer;
    }
    a {
      color: map_get($colors, menu-text-color);
      outline: none;
      text-decoration: none;
      display: block;
      width: 100%;
      height: 100%;
      &:hover {
        font-weight: 600;
        text-decoration: underline;
      }
    }
    &.active {
      $top: 0.4;
      color: map_get($colors, menu-text-color);
      margin-top: rhythm($top/1.2);
      height: rhythm($headerHeight - $top);
      text-decoration: underline;
      background-color: map_get($colors, menu-activ-item) !important;
    }
  }

}
