#RightContainer {
  $header: rhythm($headerHeight);
  $footer: rhythm($footerHeight);
  @include span($rightColumnSize);
  background-color: rgba(139, 0, 0, 0.33);
  overflow-y: hidden;
  overflow-x: auto;
}
