$userContainerWidth: $columnCountDefault - $w_menu - $widthLogoContainer;
.user-container {
  @include span($userContainerWidth of $columnCountDefault);
  height: rhythm($headerHeight);
  position: relative;
}

.user-icon {
  @extend .centr-abs;
  //display: block;
  @include span($columnCountDefault/2 of $columnCountDefault);
  height: rhythm($headerHeight);
  margin: auto;
  p {
    line-height: rhythm($headerHeight);
  }
}

.on-hover {
  color: map_get($colors, info);
  transition: 0.5s all ease;
  transform: scale(1.1);
}

.border-on {
  border: 1px solid map_get($colors, info);
  @include borderRadius(3px);
}

.user-icon-small {
  @extend .centr-abs;
  &:hover {
    cursor: pointer;
    @include boxShadow(inset 0px 0px 3px 1px map_get($colors, info));
  }
  color: map_get($colors, info);
  margin: 3px;
  width: rhythm(1);
  height: rhythm(1);
  text-align: center;
  z-index: 2;
}

.userInfo {
  width: rhythm(15);
  height: rhythm(15);
  border: 1px solid map_get($colors, info);
  border-right: none;
  @include borderRadius(5px 0 0 5px);
  position: fixed;
  z-index: 1;
  top: rhythm($headerHeight + .5);
  right: 0;
  background-color: map_get($colors, body);
  h3, h4 {
    line-height: rhythm(2);
    text-align: center;
    border-bottom: 1px solid map_get($colors, info);
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
  }
  p {
    text-align: center;
    line-height: rhythm(1.5);
    span {
      font-weight: bold;
    }
  }
}