@import "../configuration/susyConfig";

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin boxShadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin textShadow($shadow) {
  -webkit-text-shadow: $shadow;
  -moz-text-shadow: $shadow;
  text-shadow: $shadow;
}

@mixin borderRadius($size) {
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  border-radius: $size;
}

@mixin proportialColumn() {
  @media screen and (max-device-height: 1000px) {
    min-height: rhythm(30.2);
    max-height: rhythm(30.2);

  }

  //@media only screen and (max-width: 1650px) and (max-height: 1000px) {
  //  min-height: rhythm(37.7);
  //  max-height: rhythm(37.7);
  //
  //}
  //@media only screen and (min-width: 1700px) and (max-height: 1000px) {
  //  min-height: rhythm(48);
  //  max-height: rhythm(48);
  //
  //}
  //@media only screen and (min-height: 1200px) {
  //  min-height: rhythm(62.7);
  //  max-height: rhythm(62.7);
  //}
  //@media only screen and (min-height: 1700px) {
  //  min-height: rhythm(69);
  //  max-height: rhythm(69);
  //}
}
