{% extends 'base.html' %}

{% block content %}
    {{ block.super }}

    {% if messages %}
        <div class="message col-md-12 text-center">
            {% for message in messages %}
                <p{% if message.tag %} class="{{ message.tags }} "{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="col-md-12">
        <br>
        <div class="alert alert-warning offset-3 col-md-6">You can login with existing credentials only</div>
        <form class="col-md-6 offset-3" method="post">
            <h1 class="alert alert-light">Please sign in</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-md btn-success btn-block col-lg-4 col-md-4" type="submit">Sign in</button>
        </form>
    </div>

{% endblock content %}